{% extends "arquivo_auxiliar/base.html" %}
{% block titulo_pagina%}Apresentação{% endblock %}
{% block usuario %}{{ usuario }}{% endblock %}
{% block cabecalho1parte %}Área inicial{% endblock %}
{% block cabecalho2parte %}Página de apresentação{% endblock %}

{% block corpo_1 %}
    <h3 class="title">Dashboard com gráficos</h3>
    <!--<img src="http://chart.apis.google.com/chart?cht=p3&chd=t:50,30,15,5&chs=450x200&chco=ff0000|8B7765|7B68EE|00FF00&chdl=50+Ubuntu|30+Slackware|15+Kurumin|5+Outros&chtt=Grafico+de+Distro|mais+utilizada&chl=Ubuntu|Slackware|Kurumin|Outros" />-->

{% endblock %}