{% extends 'arquivo_auxiliar/base.html' %}
{% block titulo_pagina%}Pesos dos grupos{% endblock %}
{% block usuario %}<span style="font-weight: bolder;">{{ usuario }}</span>{% endblock %}
{% block cabecalho1parte %}Grupos{% endblock %}
{% block cabecalho2parte %}Catalogação dos pesos{% endblock %}
{% block corpo_1 %}

    <form  method="post" action=".">
        {% csrf_token %}
        {{ form.grupo.label }}
        {{ form.grupo }}
        {{ form.peso.label }}
        {{ form.peso }}
    <button type="submit" class="btn btn-success alignright" value="/">ENVIAR</button>
</form>
{% endblock %}