{% extends "arquivo_auxiliar/base.html" %}
{% block titulo_pagina %}Estabelecimento{% endblock %}
{% block usuario%}{% endblock %}
{% block cabecalho1parte%}Estabelecimento{% endblock %}
{% block cabecalho2parte%}cadastro para pesquisa{% endblock %}

{% block corpo_1 %}

      <form action="." method="post">
          {% csrf_token %}
          {{ form.Nome.label }}
          {{ form.Nome }}<br >
          {{ form.Bairro.label }}
          {{ form.Bairro }}<br >
          {{ form.Rua.label }}
          {{ form.Rua }}<br >
          {{ form.TeleFone.label }}
          {{ form.TeleFone }}<br >
          {{ form.Email.label }}
          {{ form.Email }}<br >

        <button type="submit" class="btn btn-success alignright" value="/">ENVIAR</button>
    </form>

{% endblock %}