{% extends "arquivo_auxiliar/base.html" %}
{% block titulo_pagina %}Subitem{% endblock %}
{% block usuario %}{{ususario}}{% endblock %}
{% block cabecalho1parte%}Subitem{% endblock %}
{% block cabecalho2parte%}Composiçao dos itens{% endblock %}
{% block corpo_1 %}
     <form action="." method="post">
        {% csrf_token %}
        {{form.nome_subitem.label}} 	
        {{form.nome_subitem}}<br >
        {{form.peso_subitem.label}}
        {{form.peso_subitem}}<br >
        {{form.item_relacionado.label}}
        {{form.item_relacionado}}<br >
        <button type="submit" class="btn btn-success alignright" value="/">ENVIAR</button>
    </form>
{% endblock %}