{% extends "arquivo_auxiliar/base.html" %}
{% block usuario %}{% endblock %}
{% block cabecalho1parte %}Pesquisa{{ size }}{% endblock %}
{% block cabecalho2parte %}Cataloga preços dos produtos{% endblock %}
{% block corpo_1 %}
    <form  method="post" action=".">
    {% csrf_token %}
        {{ form.rout.label }}
        {{ form.rout }}<br />
        {% for i in form %}
            {{ form.rout.products }}
            {{ form.value_product.label }}<br/>
            {{ form.value_product }}<br/>
        {% endfor %}

     <button type="submit" class="btn btn-success alignright" value="/">ENVIAR</button>
    </form>

{% endblock %}