{% extends "arquivo_auxiliar/base.html" %}
{% block titulo_pagina %}Perfil do pesquisador{% endblock %}
{% block usuario %}<span style="font-weight: bolder;">{{ usuario }}</span>{% endblock %}
{% block cabecalho1parte %}Perfil{% endblock %}
{% block cabecalho2parte %} Pesquisadores {% endblock %}
{% block corpo_1 %}

    <form action="." method="post">
        {% csrf_token %}
        {{ form.nome_pesquisador.label }}
        {{ form.nome_pesquisador }}<br >
        {{ form.vinculo.label }}
        {{ form.vinculo }}<br >
        <button type="submit" class="btn btn-success alignright" value="/">ENVIAR</button>
    </form>

{% endblock %}