{% extends "arquivo_auxiliar/base.html" %}
{% block titulo_pagina %}Item{% endblock %}
{% block usuario %}{{ usuario }}{% endblock %}
{% block cabecalho1parte %}Cadastra produto{% endblock %}
{% block cabecalho2parte %} Marca e peso da POF{% endblock %}
{% block corpo_1 %}
     <form action="." method="post">
        {% csrf_token %}
        {{form.nome_item.label}}
        {{form.nome_item}}<br >
        {{form.sub_grupo.label}}
        {{form.sub_grupo}}<br >
        {{form.peso.label}}
        {{form.peso}}<br >
        {{form.data_verificacao.label}}
        {{form.data_verificacao}}<br>
        <button type="submit" class="btn btn-success alignright" value="/">ENVIAR</button>
    </form>
{% endblock %}